@model DarboOrganizavimoPlatforma.Domains.Assignment

@{
    ViewData["Title"] = "AssignmentDetails";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-8 offset-sm-2">
                <h1 class="text-center">@Model.Team.TeamName - @Model.AssignmentName Details</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Horizontal Form -->
<section class="content">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">@Model.AssignmentName Details</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <label class="col-sm-12">@Html.DisplayNameFor(model => model.AssignmentName)</label>
                                <div class="col-sm-12">@Html.DisplayFor(model => model.AssignmentName)</div>
                            </div>
                            <div class="row">
                                <label class="col-sm-12">@Html.DisplayNameFor(model => model.Team.TeamName)</label>
                                <div class="col-sm-12">@Html.DisplayFor(model => model.Team.TeamName)</div>
                            </div>
                            <div class="row">
                                <label class="col-sm-12">@Html.DisplayNameFor(model => model.UsersAssigned)</label>
                                <div class="col-sm-12">@Html.DisplayFor(model => model.UsersAssigned.Count)</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <label class="col-sm-12">@Html.DisplayNameFor(model => model.AssignmentStatus)</label>
                                <div class="col-sm-12">@Html.DisplayFor(model => model.AssignmentStatus)</div>
                            </div>
                            <div class="row">
                                <label class="col-sm-12">@Html.DisplayNameFor(model => model.CreateTime)</label>
                                <div class="col-sm-12">@Html.DisplayFor(model => model.CreateTime)</div>
                            </div>
                            @if (Model.AssignmentStatus == DarboOrganizavimoPlatforma.Domains.CompletionStatus.Done)
                            {
                                <div class="row">
                                    <label class="col-sm-12">@Html.DisplayNameFor(model => model.CompletedTime)</label>
                                    <div class="col-sm-12">@Html.DisplayFor(model => model.CompletedTime)</div>
                                </div>
                            }
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-12">@Html.DisplayNameFor(model => model.AssignmentDescription)</label>
                            <div class="col-sm-12">@Html.DisplayFor(model => model.AssignmentDescription)</div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <a class="btn btn-success float-left" asp-controller="Assignment" asp-action="EditAssignment" asp-route-AssignmentId="@Model.AssignmentId">Edit</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-controller="Assignment" asp-action="GetAllAssignments" class="btn btn-primary float-right" style="width:auto">Back to Assignment List</a>
                    }
                    else
                    {
                        <a asp-controller="Assignment" asp-action="GetTeamAssignmentList" asp-route-TeamId="@Model.TeamId" class="btn btn-primary float-right" style="width:auto">Back to Team Assignment List</a>
                    }
                </div><!-- /.card-footer -->
            </div>
        </div>
    </div>
</section>