@model IEnumerable<DarboOrganizavimoPlatforma.Web.Models.UserListViewModel>

@{
    ViewData["Title"] = "GetUserList";
}


<div class="container row">
    <div class="col-6">
        <h2 class="text-info">User List</h2>
    </div>
    <div class="col-3 offset-3 text-right">
        <a asp-controller="Admin" asp-action="CreateUser" class="btn btn-primary" role="button">Add New User</a>
    </div>
</div>

<table class="table table-striped" id="table_id">
    <thead>
        <tr>
            <th scope="col"> @Html.DisplayNameFor(model => model.User.UserName)</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.User.Email)</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.User.MemberName)</th>
            <th scope="col"> Company</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.Roles)</th>
            <th scope="col"> Manage Roles</th>
            <th scope="col"> Manage User</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.User.UserName)</td>
            <td>@Html.DisplayFor(modelItem => item.User.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.User.MemberName)</td>
            <td>@Html.DisplayFor(modelItem => item.User.Company.CompanyName)</td>
            <td>@string.Join(" , ", item.Roles.ToList())</td>
            <td>
                <a class="btn btn-primary" asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@item.UserId">Manage Roles</a>
            </td>
            <td>
                <a class="btn btn-success" asp-action="EditUser" asp-controller="Admin" asp-route-id="@item.User.Id">Edit</a> |
                <a class="btn btn-info" asp-action="UserDetails" asp-route-id="@item.User.Id">Details</a> |
                <button id="modalDeleteButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-id="@item.User.Id">Delete</button>
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="modal fade" data-backdrop="static" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this user?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="button1" type="submit" class="btn btn-primary">Delete User</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">
        $("#myModal").on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('id') // Extract info from data-* attributes

            var btn = $(this).find('#button1');
            console.log(recipient)
            btn.on('click', function (event) {
                $.post("Delete/" + recipient,
                    function (data) {
                        location.reload();
                    });
            })
        });
    </script>
}

