@model DarboOrganizavimoPlatforma.Web.Models.AddTeamToProjectViewModel

@{
    ViewData["Title"] = "AddTeamMember";
}


<h1>Add Team To Project </h1>
<hr />

<div class="row">
    <div class="col-12">
        <form asp-controller="Manager" asp-action="AddProjectTeam">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group  mb-3">
                <label asp-for="TeamId">Select Available Team</label>
                <select class="form-control" asp-for="TeamId" asp-items=@ViewBag.AvailableTeams>
                    <option selected></option>
                </select>
                <span asp-validation-for="TeamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@if (Model.ProjectTeams.Count > 0)
{
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            TeamName
                        </th>
                        <th>
                            CreateTime
                        </th>
                        <th>
                            TeamDescription
                        </th>
                        <th>
                            Manage
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProjectTeams)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TeamName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TeamDescription)
                            </td>
                            <td>
                                @*asp-all-route-data="@Model.TeamId" asp-route-teamid="@Model.TeamId" asp-route-id="@item.UserId"  *@
                                <a class="btn btn-success" asp-controller="Manager" asp-action="RemoveTeamFromProject" asp-route-projectId="@Model.ProjectId" asp-route-TeamId="@item.TeamId">Remove From Project</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="col-12 card">
        <div class="card-body">
            <p>Currently the Project has no Teams assigned to it</p>
        </div>
    </div>
}

<div>
    <a class="btn btn-primary" asp-controller="Manager" asp-action="CompanyProjectList">Back to Project List</a>
</div>


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
