@model DarboOrganizavimoPlatforma.Web.Models.AddUserToTeamViewModel

@{
    ViewData["Title"] = "AddTeamMember";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-6 col-sm-6">
                <h1>Add Team Member To Team</h1>
            </div>
            <div class="col-6 col-sm-3 offset-sm-3 text-right">
                <a class="btn btn-primary float-right" asp-controller="Manager" asp-action="CompanyTeamsList">Back to Team List</a>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <form asp-controller="Manager" asp-action="AddTeamMember">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group  mb-3">
                        <label asp-for="AppUserId">Select Available User</label>
                        <select class="form-control" asp-for="AppUserId" asp-items=@ViewBag.AllCompanyUsers>
                            <option selected></option>
                        </select>
                        <span asp-validation-for="AppUserId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="add" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        @if (Model.TeamUserListViewModel.Count > 0)
        {
            <div class="row">
                <div class="col-12">
                    <div class="card mt-2">
                        <div class="card-header">
                            <h3 class="card-title">Projects list</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-hover">
                                <!-- /Table-Header -->
                                <thead>
                                    <tr>
                                        <th>MemberName</th>
                                        <th>Email</th>
                                        <th>Roles</th>
                                        <th>Manage</th>
                                    </tr>
                                </thead>
                                <!-- /Table-Body -->
                                <tbody>
                                    @foreach (var item in Model.TeamUserListViewModel)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.User.Email)</td>
                                            <td>@Html.DisplayFor(modelItem => item.User.MemberName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Roles)</td>
                                            <td><a class="btn btn-success" asp-controller="Manager" asp-action="RemoveUserFromTeam" asp-route-teamid="@Model.TeamId" asp-route-id="@item.UserId">Remove From Team</a></td>
                                        </tr>
                                    }
                                </tbody>
                                <!-- /Table-footer -->
                                <tfoot>
                                    <tr>
                                        <th>TeamName</th>
                                        <th>CreateTime</th>
                                        <th>TeamDescription</th>
                                        <th>Manage</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
        }
        else
        {
            <div class="card justify-content-center col-8">
                <div class="card-body">
                    <p class="text-center text-bold">Currently the team has no members assigned</p>
                </div>
            </div>
        }
    </div><!-- /.container-fluid -->
</section>

@section Scripts
    {
    <script type="text/javascript">
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });
    </script>
}