@model IEnumerable<DarboOrganizavimoPlatforma.Domains.Team>

@{
    ViewData["Title"] = "Index";
}

<h1>Team List</h1>

<p>
    <a asp-controller="Manager" asp-action="CreateTeam">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateTime)
            </th>
            <th>
                View/Add Members
            </th>
            <th>
                Manage Team
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateTime)
                </td>
                <td>
                    <a class="btn btn-secondary" asp-controller="Manager" asp-action="AddTeamMember" asp-route-id="@item.TeamId">View/Add</a>
                </td>
                <td>
                    <a class="btn btn-success" asp-controller="Teams" asp-action="EditTeam" asp-route-id="@item.TeamId">Edit</a> |
                    <a class="btn btn-info"  asp-controller="Teams" asp-action="TeamDetails" asp-route-id="@item.TeamId">Details</a> |
                    <button id="modalDeleteButton" type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" data-id="@item.TeamId">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" data-backdrop="static" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Team</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this Team?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="button1" type="submit" class="btn btn-primary">Delete Team</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">
        $("#myModal").on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('id') // Extract info from data-* attributes

            var btn = $(this).find('#button1');
            console.log(recipient)
            btn.on('click', function (event) {
                $.post("/Teams/DeleteTeam/" + recipient,
                    function (data) {
                        location.reload();
                    });
            })
        });
    </script>
}